@import 'variables.module.scss';


.HeaderContainer {

    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;



}



.relative {
   max-height: 100vh;
 
}

.HeaderContainer, .HeaderContainerTwo, .HeaderContainerFour{
    max-height: fit-content; /* Adjust this as needed */
    padding: 20px; /* Optional, for some internal spacing */
    /* Other styles remain unchanged */
}

.heading {
    font-size: 15rem;
    font-family: apercu, sans-serif;
    padding: 2rem 1rem;
   color: white;
   text-align: center;
}

.box1 {
    height: 75px;
    width: 120px;
    background-color: $green;
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 4px;
    position: relative;
    top: 60px;
    right: 75px;
    transform: rotate(-20deg);
}


.HeaderContainerTwo {

    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
 background-color: rgb(0, 0, 0);


}

.headingTwo {
    font-size: 12rem;
    text-align: center;
    font-family: apercu, sans-serif;
    padding: 2rem 1rem;
   color: rgb(255, 255, 255);
}

.box2 {
    height: 75px;
    width: 120px;
    background-color: $purple;
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 4px;
    position: relative;
    top: 105px;
    right: 40%;
    transform: rotate(-20deg);
}



.HeaderContainerFour {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 background-color: rgb(0, 0, 0);
 width: auto;
}

.headingFour {
    font-size: 16rem;
    font-family: apercu, sans-serif;
    padding: 2rem 1rem;
   color: rgb(255, 255, 255);
   
}

.box4 {
    height: 45px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 4px;
    position: relative;
    left: 95%;
   bottom: 135px;
    
    
    
}

