@import 'variables.module.scss';


.HeaderContainer {

    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    z-index: 10;


}

.wrapper {
    background-color: rgb(0, 0, 0) !important;
    height: 27%;
    width: 100%;
    position: relative;
    top: 490px;
    z-index: 10;
}


.pillar {
    font-size: 15rem;
    font-family: apercu, sans-serif;
    padding: 2rem 1rem;
   color: white;
   text-align: center;
  

   @media(max-width: 767px) {
    font-size: 5rem;
   }
}

.labs {
    background-color: white;
    color: $purple;
    border-radius: 25px;
    padding: 10px;
    font-size: 3.5rem;
    position: relative;
    right: 94px;
    bottom: 20px;
    

    @media(max-width: 767px) {
        font-size: 1.5rem;
    }
}




@media(max-width: 767px) {
.headingOne, .headingThree {
font-size: 7rem;
}

.headingTwo {
    font-size: 3rem;
}

.box2 {
    height: 35px;
    width: 75px;
    font-size: 1.3rem;
    display: flex;
    top: 25px;
    right: 10%;
    transform: rotate(-20deg);
}

.box1 {
    height: 35px;
    width: 75px;
    background-color: $green;
    font-size: 1rem;
    top: 30px;
    right: 55px;
    transform: rotate(-20deg);
}

.box3 {
    height: 25px;
    width: 60px;
    font-size: 1rem;
    left: 95%;
   bottom: 85px;
    
    
    
}

}


