@import 'variables.module.scss';

.OutsideScrollSection {
overflow: hidden;
background-color: black;
}

.InnerScrollSection {
  height: 100vh;
  display: flex;
  margin: 0;
  width: auto;
  flex-direction: row;
  position: relative;
  }

  .ScrollSection {
    height: 100vh;
    flex-shrink: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
   color: white;
   border: none;
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
  }


    // SECTION 1 //

  .ScrollOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }


  .Head1 {
    font-size: 5rem;
    font-family: apercu, sans-serif;
    position: relative;
   top: 30%;
  }



  .pillar {
    position: absolute;
    bottom: 0;

    height:300px;
  }


.drone {
  height: 200px;
  position: absolute;
  bottom: 310px;
  left: 45.5%;
}



  // SECTION 2 //


  .ScrollTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }


  .TextSection {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 100%;
  }


  .BigTextSection {
     display: flex;
     height: auto;
     width: 100%;
     padding: 1.5rem;


  }

  .SmallText2 {
   width: 40%;
   padding: 2rem;
 }


  .Head2 {
    font-size: 9rem;
    font-family: apercu, sans-serif;
    width: 100%;
  } 

  .labs {
    height: 45px;
    width: 90px;
    background-color: $purple;
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 4px;
    position: relative;
      right: 72px;
      top: 95px;
    transform: rotate(-30deg);
  }





.siteImg {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  &:hover {

    .site1 {
    
    transform: rotate(-20deg) translateX(-60px) translateY(-200px);
    }

    .site2 {
     
      transform: rotate(-30deg) translateX(150px) translateY(100px);
      }

      .site3 {
       
        transform: rotate(20deg) translateX(500px) translateY(-90px);
        }

        .site4 {
          
          transform: rotate(-10deg) translateX(800px) translateY(-60px);
          }

          .site5 {
            
            transform: translateX(950px) rotate(15deg);
            }
  }

}

.site1 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  
&:hover {
  z-index: 11;
}

}
.site2 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site3 {
  height: 350px; 
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site4 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site5 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
   
  &:hover {
    z-index: 11;
  }
}




@media(min-width: 2500px) {
  .labs {
    right: 430px;
      top: 95px;
  }
}


  // SECTION 3 //


  .Head3 {
    font-size: 5rem;
    font-family: apercu, sans-serif;
  }