@import 'variables.module.scss';

.OutsideScrollSection {
overflow: hidden;
background-color: black;
}

.InnerScrollSection {
  height: 100vh;
  display: flex;
  margin: 0;
  width: auto;
  flex-direction: row;
  position: relative;
  }

  .ScrollSection {
    height: 100vh;
    flex-shrink: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
   color: white;
   border: none;
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
  }


    // SECTION 1 //

  .ScrollOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }


  .Head1 {
    font-size: 5rem;
    font-family: apercu, sans-serif;
    
   
  }

  .story{
    color: $purple;
  }

  .para1 {
   width: 50%;
   font-size: 1.3rem;
   position: relative;
   right: 30px;
   font-family: apercu, sans-serif;
  }


  // .pillar {
  //   position: absolute;
  //   bottom: 0;

  //   height:300px;
  // }


.drone {
  height: 200px;
  position: absolute;
  bottom: 310px;
  left: 45.5%;
  z-index: 1;
  transition: transform 0.2s;
  animation: hover 4.5s ease-in-out infinite;
  
}

@keyframes hover {
  0%, 100% {
    
    transform: translate(-580px, 0) rotate(-14deg);
    
  }
  
  25% {
    transform: translate(200px, -250px) rotate(4deg); /* Slight upward to anticipate the move */
  }
  50% {
    transform: translate(580px, 0) rotate(5deg); /* Peak horizontal movement */
  }
  75% {
    transform: translate(150px, 140px) rotate(-5deg); /* Slight downward to smooth the transition */
  }
}




  // SECTION 2 //


  .ScrollTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }


  .TextSection {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 100%;
  }


  .BigTextSection {
     display: flex;
     height: auto;
     width: 100%;
     padding: 1.5rem;


  }

  .SmallText2 {
   width: 40%;
   padding: 2rem;
 }


  .Head2 {
    font-size: 9rem;
    font-family: apercu, sans-serif;
    width: auto;

  } 

  .labs {
    height: 45px;
    width: 90px;
    background-color: $green;
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 4px;
    position: relative;
      right: 30px;
      top: 95px;
    transform: rotate(-30deg);

    @media(max-width: 1760px) {
      right: 165px;
      top: 95px;
    }
  }





.siteImg {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100px;

  &:hover {

    .site1 {
    
    transform: rotate(-20deg) translateX(-60px) translateY(-200px);

    @media(max-width: 440px) {
      transform: rotate(-20deg) translateX(-30px) translateY(-100px);
    }
    }

    .site2 {
     
      transform: rotate(-30deg) translateX(150px) translateY(100px);
      @media(max-width: 440px) {
        transform: rotate(-30deg) translateX(150px) translateY(100px);
      }
      }

      .site3 {
       
        transform: rotate(20deg) translateX(500px) translateY(-90px);
        @media(max-width: 440px) {
          transform: rotate(20deg) translateX(100px) translateY(-90px);
        }
        }

        .site4 {
          
          transform: rotate(-10deg) translateX(800px) translateY(-60px);
          @media(max-width: 440px) {
            transform: rotate(-10deg) translateX(150px) translateY(-60px);
          }
          }

          .site5 {
            
            transform: translateX(950px) rotate(15deg);
            @media(max-width: 440px) {
              transform: translateX(250px) rotate(15deg);
            }
            }
  }

}

.site1 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  z-index: 99;
  
&:hover {
  z-index: 11;
}

}
.site2 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site3 {
  height: 350px; 
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site4 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;

  &:hover {
    z-index: 11;
  }
}

.site5 {
  height: 350px;
  width: auto;
  position: absolute;
  left: 40px;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  
   
  &:hover {
    z-index: 11;
  }
}




@media(min-width: 2500px) {
  .labs {
    right: 430px;
      top: 95px;
  }
}


  // SECTION 3 //


  .Head3 {
    font-size: 5rem;
    font-family: apercu, sans-serif;
    z-index: 2;
  }

  .circle {
    position: absolute;
    color: $purple;
    z-index: 1;
    filter: blur(15px);
  }

  .stock {
    position: absolute;

  }

  @media(max-width: 440px) {
    .Head1 {
      font-size: 2rem;
      font-family: apercu, sans-serif;
      padding: 1rem;
     
    }
  
    .story{
      color: $purple;
    }
  
    .para1 {
     width: 80%;
     font-size: 0.5rem;
     position: relative;
     right: 20px;
     top: 50px;
     font-family: apercu, sans-serif;
    }

    .drone {
      height: 100px;
      width: auto;
      position: absolute;
      bottom: 310px;
      left: 45.5%;
      z-index: 1;
      transition: transform 0.2s;
      animation: hover 4.5s ease-in-out infinite;
      
    }
    
    @keyframes hover {
      0%, 100% {
        
        transform: translate(-180px, 0) rotate(-14deg);
        
      }
      
      25% {
        transform: translate(150px, -250px) rotate(4deg); /* Slight upward to anticipate the move */
      }
      50% {
        transform: translate(280px, 0) rotate(5deg); /* Peak horizontal movement */
      }
      75% {
        transform: translate(150px, 140px) rotate(-5deg); /* Slight downward to smooth the transition */
      }
    }

    .site1, .site2, .site3, .site4, .site5 {
      height: 150px;
    }


    .Head2 {
      font-size: 1.7rem;
      width: 100%;
    }
    .SmallText2 {
      font-size: 0.7rem;
      width: 100%;
    }

    .labs {
      height: 10px;
      width: 25px;
        right: 55px;
        top: 20px;
      transform: rotate(-30deg);

    }

    .siteImg {
      height: 70%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -95px;
      top: 100px;

    }

    .Head3 {
      font-size: 1.4em;
      font-family: apercu, sans-serif;
      z-index: 2;
    }
  
    .circle {
      position: absolute;
      color: $purple;
      z-index: 1;
      filter: blur(15px);
      height: 250px;
    }

    }
    

  
  