@import 'variables.module.scss';

.Footer {
    height: 40vh;
    width: 100%;
    background-color: black;


    @media(max-width: 440px) {
       height: 20vh;
      
    }
}

.FooterContent {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: auto;
    
}

.FooterName {
    color: white;
    font-family: apercu, sans-serif;
    margin-bottom: 25px;


    @media(max-width: 440px) {
       font-size: 15px;
    }
}

.FooterLabs {
    color: $green;
    font-family: apercu, sans-serif;

    @media(max-width: 440px) {
        font-size: 15px;
     }

}

.FooterPillar {
    color: $purple;
    font-family: apercu, sans-serif;
    margin-bottom: 25px;

    @media(max-width: 440px) {
        font-size: 15px;
     }
}

.pillar {
    height: 120px;

    @media(max-width: 440px) {
        width: 100px;
        height: 60px;
    }
}