@import 'mixins';



$color-primary: rgb(227, 151, 151);


.title {
    color: $color-primary;
}

.body {
    color: rgb(255, 255, 255);
}



@include mobile() {
    .title{
        color: blue;
    }
}