
.AboutContainer {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.AboutContent {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}


.star {
    height: 200px;
    animation: spin 5s linear infinite;
    position: absolute;
    
    
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .AboutTitle {
   color: white;
  font-size: 10rem;
  width: auto;
  font-family: apercu, sans-serif;
 
  }

  .AboutText {
    font-family: apercu, sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    max-width: 70%; /* Limit the width to 90% of its container */
    word-wrap: break-word; /* Break words to next line if needed */
    margin-left: auto; /* Center align the text block */
    margin-right: auto; /* Center align the text block */
    z-index: 2;
  }

  .TextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    line-height: 1.5;
  }

  .TitleLabsContainer {
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: center; /* Align horizontally */
    flex-direction: row; /* Place items side by side */
  }

  .line {
    position: absolute;
    transform: translate(-710px, 500px);

  }

  .labs {
    height: 65px;
    width: 110px;
    background-color: #4dd483;
    align-items: center;
    font-family: apercu, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 4px;
    position: relative;
   right: 50px;
   top: 30px;
    transform: rotate(-20deg);
  }
  
  .svg {
    position: absolute;
    left: -150px;
    z-index: 1;

  }

  .infoBox_One {
    height: 200px;
    width: 450px;
    border-radius: 20px;
    background-color: #7e4dd4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 1rem 2rem;
    font-family: apercu, sans-serif;
    text-align: center;
    }
    
    .infoBox_Two {
    height: 200px;
    width: 450px;
    border-radius: 20px;
    background-color: #4dd483;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    text-align: center;
    gap: 20px;
    font-family: apercu, sans-serif;
    }
    
    .InfoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
    }

    .secondContainer {
        height: auto;
        width: auto;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        
    }

   .FirstHalf {
    display: flex;
    line-height: 0.2;
    
   }

   .SecondHalf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   }


    .secondHead {
       font-size: 10rem;
       color: rgb(0, 0, 0);  
       font-family: apercu, sans-serif; 
       z-index: 10;
       line-height: 0.5;
       padding: 1rem;
    
        
    }
    .secondText {
        font-family: apercu, sans-serif; 
        color: white; 
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem 1.5rem;
       z-index: 5;;
    }